body {
    padding: 20px;
    margin: 20px;
    font-family: 'Exo 2', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80dvh;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
    width: 250px;
    border: solid 5px black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.637);
}

.screen {
    margin: 0px 0px 5px 0px;
    padding: 23px;
    height: 80px;
    width: 200px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: rgba(5, 38, 39, 0.753);
    font-size: 40px;
    color: whitesmoke;
    text-align: right;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}

.operator {
    background-color: whitesmoke;
}

.equal-sign {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    height: 100%;
    background-color: rgb(46, 134, 192);
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    border: 2px solid #000000;
    font-size: 2rem;
    color: #333;
}

button:hover {
    background-color: #f0e2e2;
}

.equal-sign:hover {
    background-color: rgb(40, 112, 160);
}

.all-clear {
    background-color: rgb(226, 83, 88);
}

.all-clear:hover {
    background-color: rgb(201, 65, 70);
}